@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Diplomata+SC&family=Libre+Barcode+39+Text&family=Neucha&family=Orbitron&family=Pacifico&family=Patrick+Hand&family=Poiret+One&family=Square+Peg&family=Tapestry&family=Water+Brush&display=swap');
.bangers{
    font-family: 'Bangers';
}
.diploma{
    font-family: 'Diplomata SC';
}
.libre{
    font-family: 'Libre Barcode 39 Text';
}
.neucha{
    font-family: 'Neucha';
}
.orbitron{
    font-family: 'Orbitron';
}
.pacifico{
    font-family: 'Pacifico';
}
.patrick{
    font-family: 'Patrick Hand';
}
.poiret{
    font-family: 'Poiret One';
}
.square{
    font-family: 'Square Peg';
}
.tapestry{
    font-family: 'Tapestry';
}
.water{
    font-family: 'Water Brush';
}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('circle.jpeg');
    background-size: cover;
    background-position: center;
}
.input{
    width: 70%;
    border: 1px solid rgb(78, 78, 78);
    height: 150px;
    position: relative;
    margin-top: 50px;
}
input{
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
}
input:focus{
    outline: none;
}
button{
    position: absolute;
    right: 8px;
}
.input button{
    background-color:lightcyan;
    border: none;
    bottom: 4px;
    padding: 10px 30px;;
    font-size: 20px;
    border-radius: 5px;
}
.outputs{
    width: 70%;
    height: calc(90vh - 200px);
    overflow: scroll;
    margin-top: 30px;
}
.output{
    width: 100%;
    background-color: rgb(252, 252, 189);
    margin-top: 10px;
    font-size: 20px;
    box-sizing: border-box;
    padding: 30px 15px;
    border-radius: 5px;
    position: relative;
}
.output button{
    top: 5px;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.548);
}
.output button:first-child{
    transform: translateX(-50px);
}
.output button:hover{
    cursor: pointer;
    text-decoration: underline;
    color: black;
}